<!-- <ul>
  <li *ngFor="let message of inboxMessages" >{{ message.title }}</li>
</ul>   -->
  

<ngb-accordion [closeOthers]="true" activeIds="0" (panelChange)="toggleAccordian($event)">
  <ngb-panel id="{{ i }}" *ngFor="let message of inboxMessages; let i = index">
    <ng-template ngbPanelTitle *ngIf="selectedEmail === message">
      <div style="color: rgb(177, 62, 16)">{{ message.title}}</div>
    </ng-template>
    <ng-template ngbPanelTitle *ngIf="selectedEmail !== message">
      {{ message.title}}
    </ng-template>
    <ng-template ngbPanelContent> {{ message.content }} </ng-template>
  </ngb-panel>
</ngb-accordion>
  

