<div class="compose__wrapper">
  <button
    (click)="newEmailEvent('I\'m new')"
    type="button"
    class="btn btn-outline-primary compose__button"
  >
    compose
  </button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">New message</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><input type="text" [(ngModel)]="title" /></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
    <button type="button" class="btn btn-danger" (click)="sendMessage(modal)">
      Send
    </button>
  </div>
</ng-template>
