<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-2 col-lg-2">
      <app-sidebar (myClick)="inboxTypeSelected($event)"></app-sidebar>
      <app-email (newEmail)="newEmailEvent($event)"></app-email>
    </div>
    <div class="col-10 col-lg-10">
      <app-mail-content [inboxType]="inboxType"></app-mail-content>
      <!-- <app-test-item></app-test-item> -->
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">New message</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <input type="text" [(ngModel)]="title" />
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light"
      (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-danger"
      (click)="sendMessage(modal)">Send</button>
  </div>
</ng-template>
