<nav class="toc">
  <h3>sidebar</h3>
  <div class="toc-item">
    <button (click)="composeEmail()" type="button" class="btn btn-outline-primary send-btn">compose</button>
  </div>
  <ul class="nav flex-column">
    <li *ngFor="let item of inboxTypes; let i=index" class="toc-item"  >
      <a href="#" *ngIf="i === selected" (click)="selectInboxType(i)" class="toc-link"><b> {{ item }} </b> </a>
      <a href="#" *ngIf="i !== selected" (click)="selectInboxType(i)" class="toc-link">{{ item }} </a>
    </li>
  </ul>
</nav>
